@model IEnumerable<FlyRemotely.Models.Offer>
@using FlyRemotely.Infrastructure
@{
    ViewBag.Title = "Oferty";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="o-list-heading-1">Oferty Pracy</div>
            </div>
            <div class="col-12">
                <div class="o-list-separator" />
            </div>
            <div class="col-12 text-center">
                <div class="o-list-heading-2">Wyszukaj interesującą Cię ofertę pracy zdalnej, spośród kilkudziesięciu <br>ofert pracy z całego świata. Znajdź swoją <span style="font-weight: 600">wymażoną prace zdalną.</span></div>
            </div>
        </div>
    </div>
</div>

@Html.Action("GetFeaturedOffers", new { quantity = 1 })

<div class="container-fluid">
    <div class="container o-ad-list-container">
        <hr />
        @foreach (var offer in Model)
        {
            <a href="@Url.Action("Details", "Catalog", new { offerId = offer.OfferId })" class="o-ad-row-link">
                <div class="row o-ad-row">
                    <div class="col-md-2 align-self-center o-ad-company-img-div">
                        <img class="o-ad-company-img" src="@Url.CompanyPhotoSourcePath(offer.CompanyPhotoSource)" />
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="o-ad-title">
                            @offer.Title
                        </div>
                        <div class="o-ad-company-name">
                            @offer.CompanyName
                        </div>
                        <div class="o-ad-job-type">
                            @offer.Type - @offer.Salary
                        </div>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class="o-ad-featured">
                            @if (offer.Featured)
                            {
                                <img class="o-add-star" src="@Url.Content("~/Content/Images/star.png")" /><span>Wyróżnione</span>
                            }
                            <div class="o-add-date">
                                Od @offer.DateAdded.ToString("dd.MM.yyyy")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class="o-ad-lang">
                            @offer.Category.Name
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

@Html.Action("GetCategories")
