@model FlyRemotely.ViewModels.HomeViewModel
@using FlyRemotely.Infrastructure
@{
    ViewBag.Title = "FlyRemotely";
}

<div class="container-fluid" id="oferty">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="o-list-heading-1">Oferty Pracy</div>
            </div>
            <div class="col-12">
                <div class="o-list-separator" />
            </div>
            <div class="col-12 text-center">
                <div class="o-list-heading-2">Wyszukaj interesującą Cię ofertę pracy zdalnej, spośród kilkudziesięciu <br>ofert pracy z całego świata. Znajdź swoją <span style="font-weight: 600">wymażoną prace zdalną.</span></div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PartialCategoriesNav", Model.Categories)

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 o-category-nav-heading">
                Wyszukaj spośród wszystkich ofert:
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="o-search-form" id="search-form" method="get" data-ajax="true" data-ajax-target="#offersList">
                    <input class="o-search-input" id="search-filter" type="search" name="searchQuery"
                           data-autocomplete-source="@Url.Action("SearchTips")" placeholder="Wpisz nazwę stanowiska lub technologię..." />
                    <input class="o-search-submit" type="submit" value="" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="offersList">

    @Html.Partial("_PartialFeaturedOffers", Model.FeaturedOffers)

    <div class="container o-ad-list-container">
        <hr />
        @foreach (var offer in Model.NormalOffers)
        {
            <a href="@Url.Action("Details", "Catalog", new { offerId = offer.OfferId })" class="o-ad-row-link">
                <div class="row o-ad-row">
                    <div class="col-md-2 align-self-center o-ad-company-img-div">
                        <img class="o-ad-company-img" src="@Url.CompanyPhotoSourcePath(offer.CompanyPhotoSource)" />
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="o-ad-title">
                            @offer.Title
                        </div>
                        <div class="o-ad-company-name">
                            @offer.CompanyName
                        </div>
                        <div class="o-ad-job-type">
                            @offer.Type - @offer.Salary
                        </div>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class="o-add-date">
                            Od @offer.DateAdded.ToString("dd.MM.yyyy")
                        </div>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class="o-ad-lang">
                            @offer.Category.Name
                        </div>
                    </div>
                </div>
            </a>
        }

    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            var setupAutoComplete = function () {
                var $input = $(this);
                var options =
                {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };
                $input.autocomplete(options);
            };
            var ajaxSubmit = function () {
                var $form = $(this);
                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };
                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });
                return false;
            };
            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
    </script>
    <script src="~/Scripts/smooth-scroll.min.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
}
