<div class="container">
    <div class="row o-manage-bar-row">
        <div class="col-6 col-lg-3 d-flex justify-content-around o-manage-bar-btn-div">
            <a class="o-manage-bar-btn" href="@Url.Action("Index", "Manage")">Edycja danych</a>
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-around o-manage-bar-btn-div">
            @if (User.IsInRole("Admin"))
            {
                <a class="o-manage-bar-btn" href="@Url.Action("OffersList", "Manage")">Zarządzaj ofertami</a>
            }
            else
            {
                <a class="o-manage-bar-btn" href="@Url.Action("OffersList", "Manage")">Moje oferty</a>
            }
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-around o-manage-bar-btn-div">
            <a class="o-manage-bar-btn" href="@Url.Action("FavoritesList", "Manage")">
                <img class="o-manage-bar-heart" src="@Url.Content("~/Content/Images/heart-black.png")" />Ulubione oferty
            </a>
        </div>
        <div class="col-6 col-lg-3 d-flex justify-content-around o-manage-bar-btn-div">
            <a class="o-manage-bar-btn" href="@Url.Action("AddOffer", "Manage")">Dodaj ofertę</a>
        </div>
    </div>
</div>


