@model IEnumerable<FlyRemotely.Models.Offer>
@using FlyRemotely.Infrastructure
@{
    ViewBag.Title = "Moje konto";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@Html.Partial("_PartialManageNav")

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 o-manage-heading">
            Lista ofert
        </div>
    </div>
</div>

<div class="container">
    @if (Model.Any())
    {
        foreach (var offer in Model)
        {
            <div class="row o-ad-row">
                <div class="col-md-2 align-self-center o-ad-company-img-div">
                    <img class="o-ad-company-img" src="@Url.CompanyPhotoSourcePath(offer.CompanyPhotoSource)" />
                </div>
                <div class="col-md-4 align-self-center">
                    <div class="o-ad-title">
                        @offer.Title
                    </div>
                    <div class="o-ad-company-name">
                        @offer.CompanyName
                    </div>
                    <div class="o-ad-job-type">
                        @offer.Type - @offer.Salary
                    </div>
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="o-ad-featured">
                        <div class="o-add-date">
                            Od @offer.DateAdded.ToString("dd.MM.yyyy")
                        </div>
                        <div class="o-ad-lang">
                            @offer.Category.Name
                        </div>
                    </div>
                </div>
                <div class="col-md-2 align-self-center text-center">
                    <span class="o-text-span-bold o-offer-item-text">Status:</span> <br class="o-offer-br">
                    @if (ViewBag.UserIsAdmin)
                    {
                        using (Html.BeginForm("ChangeOfferStatus", "Manage"))
                        {
                            @Html.HiddenFor(o => offer.OfferId)
                            @Html.EnumDropDownListFor(o => offer.Status, new { @class = "ChangeStatus" })
                        }
                    }
                    else
                    {
                        <span class="o-text-span-light o-offer-item-text">@offer.Status</span>
                    }
                </div>
                <div class="col-md-2 align-self-center">
                    <div class="o-offer-item-btn-div">
                        <a class="o-offer-item-btn" href="@Url.Action("Details", "Catalog", new { offerId = offer.OfferId })">Podgląd</a>
                    </div>
                    <div class="o-offer-item-btn-div">
                        <a class="o-offer-item-btn" href="@Url.Action("AddOffer", "Manage", new { offerId = offer.OfferId })">Edytuj</a>
                    </div>
                    @if (ViewBag.UserIsAdmin == true)
                    {
                        if (offer.Featured == true)
                        {
                            <div class="o-offer-item-btn-div">
                                <a class="o-offer-item-btn" href="@Url.Action("ChangeOfferFeatured", "Manage", new { offerId = offer.OfferId, isFeatured = true })">Usuń wyróżnienie</a>
                            </div>
                        }
                        else
                        {
                            <div class="o-offer-item-btn-div">
                                <a class="o-offer-item-btn" href="@Url.Action("ChangeOfferFeatured", "Manage", new { offerId = offer.OfferId, isFeatured = false })">Wyróżnij</a>
                            </div>
                        }
                    }
                    else
                    {
                        if (offer.Status == FlyRemotely.Models.OfferStatus.Nieaktywne)
                        {
                            <div class="o-offer-item-btn-div">
                                <a class="o-offer-item-btn" href="@Url.Action("ChangeOfferStatusUser", "Manage", new { offerId = offer.OfferId, isActive = false })">Aktywuj</a>
                            </div>
                        }
                        else if (offer.Status == FlyRemotely.Models.OfferStatus.Aktywne)
                        {
                            <div class="o-offer-item-btn-div">
                                <a class="o-offer-item-btn" href="@Url.Action("ChangeOfferStatusUser", "Manage", new { offerId = offer.OfferId, isActive = true })">Dezaktywuj</a>
                            </div>
                        }
                    }

                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-12 o-offer-empty">
                Brak ofert
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.5.1.js"></script>

    <script>
    $(".ChangeStatus").on('change', function (e) {
        //e.preventDefault();
        var f = $(this.form);
        var div = f.closest("div");
        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@FlyRemotely.Models.OfferStatus.Oczekuje.ToString()') {
                div.addClass("o-newStatus")
            }
            else {
                div.removeClass("o-newStatus");
            }
          });
    });
    </script>
}